body, html{
    height:100%;
    width:100%;
    margin:0px;
}
img {
    width:25%;
    height:25%;
}

.Game {
   width:30%;
   display:inline-block;
}

.hide {
    display:none;
}

#landingPage {
    text-align: center;
    height:100%;
    background-image: url("background2.jpg");
}

.welcome {
    padding-top:15%;
    color:rgb(228, 17, 17);
}

.welcome h2{
    background-color: #bba800;
    color:black;
}
#searchPage {
    min-height:100%;
    text-align: center;
    background-image: url("background.png");
    /* font-size:3em; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
    border:1px solid black;
    height:150px;
  }
 #find {
     font-size: 3em;
     text-decoration: underline rgb(4, 0, 245);
 }

 img {
     width:100%;
     height:100%;
 }

 #dataView {
     margin-top:7em;
     font-size:xx-large;

 }

 /* Here is Mobile Breakpoint Template:
put all your mobile styles here
@media only screen and (min-width: 350px) {
   .btnStyle {
       background-color:#000;
   }
}
tablet styles here
@media only screen and (min-width: 550px) {
   .btnStyle {
       background-color:#fff;
   }
}
desktop styles here
@media only screen and (min-width: 800px) {
   .btnStyle {
       background-color:red;
   }
} */
